# lightning.pytorch==2.0.3
seed_everything: 2258173030
trainer:
  accelerator: gpu
  strategy: auto
  devices: 1
  num_nodes: 1
  precision: 32-true
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      save_dir: ./wandb
      project: pointer-generator
      log_model: all
      save_code: true
      job_type: training
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: val_loss
        save_top_k: 3
        filename: val_loss-{epoch}-{step}-{val_loss:.2f}
        mode: min
    - class_path: lightning.pytorch.callbacks.StochasticWeightAveraging
      init_args:
        swa_lrs: 0.005
        device: gpu
  fast_dev_run: false
  max_epochs: 30
  min_epochs: null
  max_steps: -1
  min_steps: null
  max_time: null
  limit_train_batches: null
  limit_val_batches: null
  limit_test_batches: null
  limit_predict_batches: null
  overfit_batches: 0.0
  val_check_interval: null
  check_val_every_n_epoch: 1
  num_sanity_val_steps: null
  log_every_n_steps: 50
  enable_checkpointing: null
  enable_progress_bar: true
  enable_model_summary: null
  accumulate_grad_batches: 1
  gradient_clip_val: 2
  gradient_clip_algorithm: norm
  deterministic: true
  benchmark: null
  inference_mode: true
  use_distributed_sampler: true
  profiler: null
  detect_anomaly: false
  barebones: false
  plugins: null
  sync_batchnorm: false
  reload_dataloaders_every_n_epochs: 0
  default_root_dir: null
lr_scheduler:
  class_path: torch.optim.lr_scheduler.CyclicLR
  init_args:
    base_lr: 0.15
    max_lr: 0.3
    step_size_up: 100
    cycle_momentum: false
model:
  config:
    hidden_dim: 256
    embedding_dim: 128
    beam_size: 4
    min_dec_steps: 35
    vocab_size: 50000
    pad_token_id: 0
    use_coverage: false
    learning_rate: 0.15
    adagrad_init_acc: 0.1
    cov_loss_weight: 1.0
    max_grad_norm: 2
data:
  batch_size: 16
  dataset_version: 3.0.0
  tokenizer_dir: /home/miro/python/pointer-generator/src/summarization/trained_tokenizer
  data_dir: /home/miro/python/pointer-generator/data
ckpt_path: null
